<%= stylesheet_link_tag 'spree/admin/startup_wizard', media: :all %>

<div class="card" style="width: 100%;">
  <div class="card-header wizard__header">
    <div class="flex-grow-1 d-flex align-items-center">
      <span class="wizard__title">Get ready for your first sale. Follow our tips to get started.</span>
    </div>
    <div class="flex-shrink-1">
      <div class="wizard__progress d-flex flex-column align-items-center">
        <span class="wizard__percent">33%</span>
        <div>
          <input type="range" name="" min="0" max="100" value="33" disabled>
        </div>
      </div>
    </div>
  </div>

  <%= form_with do |f| %>
    <ul data-controller="step" class="list-group list-group-flush">
      <% @checklist.each do |item| %>
         <li type="button" class="list-group-item wizard__checklist wizard__checklist--done">
            <div>
                <span class="shadow rounded-circle wizard__check wizard__check--active">
                  <%= svg_icon name: "tick.svg", width: '20', height: '20' %>
                </span>
            </div>
            <div class="wizard__labels">
                <div class="label"><%= item.label%></div>
                <div class="description"><%= item.description%></div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <span class="wizard__arrow">
                  <%= svg_icon name: "arrow-right.svg", width: '25', height: '25' %>
                </span>
            </div>
         </li>
      <% end %>
    </ul>
  <% end %>
  
</div>

<%= javascript_include_tag 'spree/admin/startup_wizard', defer: true %>
